<!DOCTYPE html>
<html>

<head>
    <title>carrito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="./color.css">
</head>
<body>
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registro">Registrate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/perfil">Tu Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/realtimeproducts">Formulario</a>
        </li>
    </ul>
</div>
<form id="form" class="centered-form">
    <h2>Ingrese el producto</h2>

    <input class="contols" type="text" placeholder="Nombre del producto" name="nombre" id="nombre" required>

    <input class="contols" type="text" placeholder="Detalle del producto" name="detalle" id="detalle" required>

    <input class="contols" type="text" placeholder="Stock del producto" name="stock" id="stock" required>

    <input class="contols" type="text" placeholder="Precio del producto" name="precio" id="precio" required>

    <input class="contols" type="text" placeholder="Imagen del producto" name="img" id="img" required>

    <input class="contols" placeholder="Codigo del producto" type="codigo" name="codigo" id="codigo">

    <button class="btn" type="submit" id="add-btn">Registrar nuevo Producto</button>
    <h2>Eliminar el producto:</h2>
    <input class="contol" type="number" name="id-prod" id="id-prod" placeholder="Ingrese el ID del producto a eliminar">
    <button class="btn" type="button" id="delete-btn">Eliminar</button>

</form>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/realtime.js"></script>
</html>